*venv/
__pycache__/
UploadedFiles/
cropped_images/
QR/
.env
o.txt
o2.txt
exp-out.txt
output.txt
/*.zip
/temp_download/

/indices/
/multiple_indices/
*.log
requirements_local.txt
UploadedFiles_indexes/